.fa-heart {
   padding: 0;
   height: 40px  ;
   width: 40px ;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.4s;
}
.hearted {
   color: rgb(255, 58, 58) !important;
   background-color: rgba(255, 0, 0, 0.2) !important;
}
.selectQuantity {
   width: 100px ;
   height: 40px;
   padding: 0 10px;
   font-size: 14px;
}
